extends ../layout

block content 
    t1 listado de bicis 
    br
    br
    
    a(href='/bicicletas/create') nueva bicicleta
    table.table 
        thead 
            tr 
                th(scope='col') # 
                th(scope='col') modelo
                th(scope='col') color 
                th(scope='col')
        tbody 
            each bici in bicis
                tr 
                    td(scope='row')= bici.code
                    td=bici.modelo
                    td=bici.color
                    td 
                        a(href="/bicicletas/" + bici.code + "/update") Editar 
                    td 
                        form.inline(action="/bicicletas/delete", method="post") 
                            input(type="hidden" name="code" value= bici.code)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn') Eliminar
                    butt