extends ../layout

block content 
    a(href='/bicicletas') volver

    br
    br
    br

    h1 editar bicicleta

    br
    br
    br

    form(action="/bicicletas/"+bicicleta.id+"/update", method="post") 
        label(for="modelo") Modelo:
        input(type="text" name="modelo")
        br
        label(for="color") Color:
        input(type="text" name="color")
        br
        label(for="lat") Latitud:
        input(type="text" name="lat") 
        br
        label(for="lng") Longitud:
        input(type="text" name="lng") 
        br
        br
        input(type="Submit", value="Submit")